<div id="static">
  <search (onkeyStroke)="search($event)" style="background-color: white"></search>
  <clustering [subject]="subject" (onClusterSelected)="getSelectedCluster($event)"></clustering>
</div>
<div fxLayout="column" fxFlex class="content">
  <md-card fxFlex *ngFor="let doc of documentsOnDisplay" style="margin-bottom: 20px">
    <md-card-title>
      <a href="#">
        <h3>{{doc.projectAcronym}}</h3>
      </a>
    </md-card-title>
    <md-card-content>
      {{doc.projectAbstract}}
    </md-card-content>
  </md-card>
</div>
