<div >
  <mat-card fxFlex style="margin-bottom: 20px">
    <mat-card-title>
      <h3>{{document.name}}</h3>
      <h5>{{document.manu}}</h5>
      <h6 style=" color:#90a4ae;">Price: <i>{{document.price_c}}</i></h6>
      <mat-chip-list>
        <mat-chip *ngFor="let category of document.cat">{{category}}</mat-chip>
      </mat-chip-list>
    </mat-card-title>
    <mat-card-content>
      <h6>Features:</h6>
      <ul>
          <li *ngFor="let feature of document.features">{{feature}}</li>
      </ul>

    </mat-card-content>
    <mat-card-footer>
      <button mat-raised-button style="margin-right: 10px;" color="primary" (click)="searchRelatedDocuments()">
        <mat-icon>star</mat-icon>
        Related products
      </button>
      <div style="padding:20px" *ngIf="moreLikeThisFlag">
        <ul *ngFor="let doc of moreLikeThisDocs">
          <li class="mlt" (click)="emitRelevantDocument(doc)">{{doc.features}}</li>
        </ul>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
