.viewport {
  min-height: 100vh;
}

.header {
  height: 100px;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000; /*ridiculous value to ensure layering*/
}

.header .header-logo {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  width: 180px;
}

.header .menu-button {
  height: 60px;
  padding-left: 0px;
  padding-right: 0px;
  color: #fff;
  min-width: 60px;
}

.header .menu-right {
  margin-right: 50px;
}

.sidebar {
  background-color: #2A2C36;
  width: 350px;
}

.sidebar.mobile {
  position: absolute;
  top: 0px;
  height: 100vh;
  z-index: 1;
}

.content {
  background-color: #edf1f5;
}

.nav-active {
  background-color: #ff5252;
}

.nav-active mat-icon {
  color: #fff;
}

.static {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  z-index: 1000; /*ridiculous value to ensure layering*/
  background-color: #2A2C36;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 30px -6px black;
  padding:25px;
}

