<div fxLayout="column" class="mat-app-background viewport">
  <div fxLayout="row" class="header">
    <div fxLayoutAlign="center center" fxFlex.gt-sm="250px" class="header-logo"><img src="assets/images/globomantics.png"/>
    </div>
    <div fxFlex fxLayoutAlign="start center">
      <button (click)="onMenuClick()" matTooltip="Show/Hide Menu" mat-button class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div fxFlex fxLayoutAlign="end center" class="menu-right">
      <button mat-button class="menu-button">
        <mat-icon class="mat-48">account_circle</mat-icon>
      </button>
    </div>
  </div>
  <div fxFlex="1" fxLayout="row">
    <div class="doris-dark-theme sidebar"
         [ngClass]="{'mobile': showMenu && (activeMediaQuery=='xs' || activeMediaQuery=='sm')}" *ngIf="showMenu">

      <mat-nav-list class="static" style="top:80px">
        <mat-list-item routerLink="/page1" routerLinkActive="nav-active">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <h3 mat-line> Search catalog </h3>
        </mat-list-item>
      </mat-nav-list>


      <mat-card *ngIf="clusterOnHover !== undefined" class="static" style="margin-top: 50px; top:305px">
        <ul>
          <li>Last cluster on hover: {{clusterOnHover.label}}</li>
          <li>Number of sub-clusters: {{clusterOnHover.groups.length}}</li>
          <li>Total documents: {{clusterOnHover.nbOfDocs}}</li>
        </ul>
      </mat-card>


    </div>
    <div fxFlexLayout="column" fxFlex class="content" >
      <div *ngIf="loading" style="display: flex; justify-content: center; align-items: center; margin-top: 30%" >
        <mat-spinner></mat-spinner>
      </div>
      <router-outlet *ngIf="!loading"></router-outlet>
    </div>
  </div>
</div>
