.content{
  padding:25px;

}

.toolbar{
  background-color: white;
}

a{
  color: #4682B4;
  text-decoration: none;
}

a:active {
  color: #4682B4;
}

a:visited {
  color: #5F9EA0;
}

a:hover {
  color: #87CEFA;
}

#static {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  z-index: 1000; /*ridiculous value to ensure layering*/
  background-color: white;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 30px -6px black;
  padding:25px;
}
