<!-- fxFlex="470px" -->
<div id="static" >
  <search (onkeyStroke)="search($event)" style="background-color: white"></search>
  <!-- <clustering [clusters]="clusters" (onClusterSelected)="getSelectedCluster($event)"></clustering> -->
  <div id="toolbox">
    <mat-paginator [length]="filteredDocuments.length"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  (page)="onPaginateChange($event, filteredDocuments)"
    >
    </mat-paginator>
    <button mat-raised-button style="margin-right: 10px;" color="primary" (click)="search('*')">
      <mat-icon>home</mat-icon>
    </button>
  </div>
</div>
<div fxLayout="column" fxFlex class="content" style="overflow: auto">
  <div *ngIf="isLoading == false">
    <div *ngIf="dataFlag == true">
      <div *ngFor="let doc of documentsOnDisplay">
        <document [document]="doc" [dataFlag]="true" (documentEmmit)="search('&quot;'+$event.projectAcronym+'&quot;')"></document>
      </div>
    </div>
    <div *ngIf="dataFlag == false">
      <div *ngFor="let doc of documentsOnDisplay">
        <document [document]="doc" [dataFlag]="false" (documentEmmit)="search('&quot;'+$event.proposalAcronym+'&quot;')"></document>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
</div>
