<div id="static">
  <search (onkeyStroke)="search($event)" style="background-color: white"></search>
  <clustering [subject]="subject" (onClusterSelected)="getSelectedCluster($event)"></clustering>
</div>
<div fxLayout="column" fxFlex class="content">
  <md-card fxFlex *ngFor="let doc of documentsOnDisplay" style="margin-bottom: 20px">
    <md-card-title>
      <h3>{{doc.proposalAcronym}}</h3>
      <h5>{{doc.proposalTitle}}</h5>
    </md-card-title>
    <md-card-content>
      {{doc.proposalAbstract}}
    </md-card-content>
  </md-card>
</div>
